
body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display:flex;
  flex-direction: column;
}

.tab {
  padding: 0em 2em 1em 2em;
  margin:0;
}

#transitTab {
  background-color: #ddd;
  height: 68vh;
}

#weatherTab {
  background-color: rgb(0, 34, 70);
  height: 32vh;
}

