$accent-color: rgb(56, 191, 235);
$dark-color: rgb(10, 46, 65);
$background-color: rgb(221, 221, 221);


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App, .BusStop {
  display:flex;
  flex-direction: row;
}

.tab, .DepartureList {
  width: 50%;
}

// circle progress bar

svg {
  max-width: 100%;
  vertical-align: middle;
}

.svg-indicator {
  width: 100px;
  height: 100px;
}

.svg-indicator-track,
.svg-indicator-indication {
  cx: 50px;
  cy: 50px;
  r: 40px;
  fill: transparent;
  stroke-width: 10px;
}

.svg-indicator-track {
  stroke: #ddd;
}

.svg-indicator-indication {
  stroke: #07c;
}


